<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
    <style>form {
    margin-left: 50px}</style>
</head>
 <nav class="navbar navbar-light bg-dark"><a class="navbar-brand" href="/" style="font-family: 'Allan'"><font color="white">Sports fit </font>
        {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="/lk"><font color="white">{{ current_user.name }}</font></a>
        {% else %}

            <p>
                <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                <a class="btn btn-success" href="/login">Войти</a>
            </p>
        {% endif %}</a>


    </nav>
<body>

<h1>Изменение параметров</h1>
<form action=""method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.weight.label }}<br>
        {{ form.weight(class="form-control", value=current_user.weight) }}<br>
        {% for error in form.weight.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.height.label }}<br>
        {{ form.height(class="form-control", value=current_user.height) }}<br>
        {% for error in form.height.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.age.label }}<br>
        {{ form.age(class="form-control", value=current_user.age) }}<br>
        {% for error in form.age.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.need.label }}<br>
        {{ form.need(class="form-control") }}<br>
        {% for error in form.need.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
</body>
</html>