{% extends "base.html" %}

{% block content %}

<h1>Добавление программы тренировок</h1>
<form action=""method="post">
{% if not prog%}
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.category.label }}<br>
        {{ form.category(class="form-control") }}<br>
        {% for error in form.category.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.duration.label }}<br>
        {{ form.duration(class="form-control") }}<br>
        {% for error in form.duration.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {%endif%}
</form>
</body>
{%endblock%}
</html>